{extend name='extra@admin/content'} {block name="button"} {if auth("$classuri/add")}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal="{:url('add')}" data-title="添加应用" class='layui-btn layui-btn-small'> 新增人员 </button>
    <button data-update data-field='delete' data-action="{:url('del')}" class='layui-btn layui-btn-small layui-btn-danger'>
        <i class='fa fa-remove'></i> 删除用户
    </button>
</div>
{/if} {/block} {block name="content"}


<style>
    .pztlist {
        position: relative;
        cursor: pointer
    }

    .ztlist {
        position: absolute;
        display: none;
        background: #fff;
        border: solid 1px #333;
        z-index: 10;
        border-radius: 5px;
        width: 100px
    }

    .ztlist li {
        line-height: 25px;
        border-bottom: solid 1px #333;
    }

    .ztlist li:hover {
        background: #ddd;
    }

    .ztlist li a:hover {
        text-decoration: none;
    }

    .ztlist li:last-child {
        border: none
    }

    .pztlist:hover .ztlist,
    .ztlist:hover {
        display: block;
    }

    .hide {
        display: none;
    }
</style>

<!-- 表单搜索 开始 -->
<!-- <form class="animated form-search" action="__SELF__" onsubmit="return false" method="get"> -->
<form class="layui-form layui-form-pane form-search" action="__SELF__" onsubmit="return false" method="get">
    <!-- <div class="row"> -->
    {foreach $apps as $app}
    <div class="layui-form-item layui-inline">
        <a data-open="{:url('index')}?appid={$app.colurl}" href='javascript:void(0)'>{$app.appname}</a>
    </div>
    {/foreach}
    <!-- 
    </div> -->

</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox' />
                </th>
                <th class='text-center' width="10px">ID</th>
                <th class='text-center' width="80px">姓名</th>
                <th class='text-center' width="100px">电话</th>
                <th class='text-center' width="100px">APP名称</th>
                <th class='text-center' width="80px">用户状态</th>
                <!-- <th class='text-center' width="100px">APP市场</th> -->
                <th class='text-center'>备注</th>
                <th class='text-center' width="100px">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox' />
                </td>
                <td class='text-center'>{$vo.id|default='0'}</td>
                <td class='text-center'>{$vo.username|default=''}</td>

                <td class='text-center'>{$vo.tel|default=''}</td>
                <td class='text-center'>{$vo.appname|default=''}</td>
                <td class='text-center pztlist'>
                    {if $vo.usataus eq 0}
                    <span style="font-size: 11px;color: red">【未审核】</span>
                    {elseif $vo.usataus eq 1}
                    <span style="font-size: 11px;color: green">【已审核】</span>
                    {elseif $vo.usataus eq 2}
                    <span style="font-size: 11px;color: black">【黑名单】</span>
                    {elseif $vo.usataus eq 3}
                    <span style="font-size: 11px;color: gold">【VIP】</span>
                    {/if}

                    <ul class="ztlist">
                        <li>
                            <a data-update="{$vo.id}" data-field='usataus' data-value='0' data-action='{:url("$classuri/upsta")}' data-confirm="0" href="javascript:void(0)"
                                style="font-size: 11px;color: red">【未审核】</a>
                        </li>
                        <li>
                            <a data-update="{$vo.id}" data-field='usataus' data-value='1' data-action='{:url("$classuri/upsta")}' data-confirm="0" href="javascript:void(0)"
                                style="font-size: 11px;color: green">【已审核】</a>
                        </li>
                        <li>
                            <a data-update="{$vo.id}" data-field='usataus' data-value='2' data-action='{:url("$classuri/upsta")}' data-confirm="0" href="javascript:void(0)"
                                style="font-size: 11px;color: black">【黑名单】</a>
                        </li>
                        <li>
                            <a data-update="{$vo.id}" data-field='usataus' data-value='3' data-action='{:url("$classuri/upsta")}' data-confirm="0" href="javascript:void(0)"
                                style="font-size: 11px;color: gold"> 【VIP】</a>
                        </li>
                    </ul>
                </td>
                <!-- <td class='text-center'>{$vo.appmarket|default=''}</td> -->
                <td class='text-center'>
                    <span class="staredit">{$vo.remark|default=''}</span>
                    <input type="text" value='{$vo.remark|default=""}' class="layui-input markedit hide" data-id="{$vo.id}" data-field='remark'>
                </td>
                <td class='text-center nowrap'>
                    {if auth("$classuri/edit")}
                    <span class="text-explode">|</span>
                    <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' data-title="编辑标签" href="javascript:void(0)">编辑</a>
                    {/if} {if auth("$classuri/del")}
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}' href="javascript:void(0)">删除</a>
                    {/if}
                </td>
            </tr>
            {/foreach} {if empty($list)}
            <tr>
                <td colspan="6" style="text-align:center">没 有 记 录 了 哦 !</td>
            </tr>
            {/if}
        </tbody>
    </table>
    {if isset($page)}
    <p>{$page}</p>{/if}
</form>
{/block} {block name="script"}
<script>
    (function () {
        window.form.render();
        $('.staredit').click(function () {
            $(this).addClass('hide');
            $(this).next().removeClass('hide');
            $(this).next().focus();
        })
        $('.markedit').blur(function () {
            $(this).addClass('hide');
            $(this).prev().removeClass('hide');
            var revstr = $(this).val();
            var field = $(this).attr('data-field');
            var rid = $(this).attr('data-id');
            var eipt = $(this).prev();
            $.post('{:url("$classuri/upsta")}', {
                field: field,
                value: revstr,
                id: rid
            }, function (data) {
                if (data.code == '1') {
                    eipt.html(revstr)
                } else {
                    alert(data.msg);
                }
            })
        })
    })();
</script>
{/block}