<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">应用名称</label>
        <div class="layui-input-block">
            <input type="text" name="appname" value='{$vo.appname|default=""}' required="required" title="请输入应用名称" placeholder="请输入标签名称"
                class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">控制ID</label>
        <div class="layui-input-block">
            <input type="text" name="colurl" value='{$vo.colurl|default=""}' placeholder="控制地址" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">底部导航</label>
        <div class="layui-input-block">
            <label class="think-radio">
                <input {$vo.ismenu|default="0"=="1"?"checked":""}  type="radio" name="ismenu" value="1" lay-ignore> 有 
            </label>
            <label class="think-radio">
                <input {$vo.ismenu|default="0"=="0"?"checked":""}  type="radio" name="ismenu" value="0" lay-ignore> 无
            </label>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">应用包名</label>
        <div class="layui-input-block">
            <input type="text" name="appid" value='{$vo.appid|default=""}' title="请输入应用包名" placeholder="请输入标签名称" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">目标网站</label>
        <div class="layui-input-block">
            <input type="text" name="tourl" value='{$vo.tourl|default=""}' placeholder="启用后app转向地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">上架平台</label>
        <div class="layui-input-block">
            <select name='center' class='layui-select full-width'>
               
                <option  value=''>请选择上架平台{$vo.center|default=""}</option>
                <option {$vo.center|default=""=="百度"?"selected":""} value='百度'>百度</option>
                <option {$vo.center|default=""=="VIVO"?"selected":""} value='VIVO'>VIVO</option>
                <option {$vo.center|default=""=="安智"?"selected":""} value='安智'>安智</option>
                <option {$vo.center|default=""=="三星"?"selected":""} value='三星'>三星</option>
                <option {$vo.center|default=""=="360"?"selected":""} value='360'>360</option>
                <option {$vo.center|default=""=="应用宝"?"selected":""} value='应用宝'>应用宝</option>
                <option {$vo.center|default=""=="华为"?"selected":""} value='华为'>华为</option>
                <option {$vo.center|default=""=="PP助手"?"selected":""} value='PP助手'>PP助手</option>
                <option {$vo.center|default=""=="搜狗"?"selected":""} value='搜狗'>搜狗</option>
                <option {$vo.center|default=""=="小米"?"selected":""} value='小米'>小米</option>
                <option {$vo.center|default=""=="联想"?"selected":""} value='联想'>联想</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属用户</label>

        <div class="layui-input-block">
            {if(session('user.username'))=="admin"}
            <select name='username' class='layui-select full-width'>
                {foreach $users as $user}
                    {if(isset($vo.username) and $user['username']==$vo['username'])}
                    <option selected value='{$user.username}'>  {$user.username}</option>
                    {else}
                    <option value='{$user.username}'>  {$user.username}</option>
                    {/if}
                {/foreach}
                
            </select> 
            {else}
            <input type="text" name="username" value="{:session('user.username')}" readonly class="layui-input">
             {/if}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">APP下载地址</label>
        <div class="layui-input-block">
            <input type="text" name="appurl" value='{$vo.appurl|default=""}' placeholder="上架成功后填写" class="layui-input">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">

        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id' />{/if}

        <button class="layui-btn" type='submit'>保存数据</button>

        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>

    </div>

</form>

<script>
    (function () {
        window.form.render();
    })();
</script>